.certificatesContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    margin: 0;
    position: relative; 
    flex-direction: column;
}

.certificateDetails {
    text-align: center;
    margin-top: 20px;
    width: calc(100% - 20em);
    background: linear-gradient(to right, #7aeadf, #296b6b, #09096b);
    max-width: 1200px;
    border-radius: 16px;
    position: relative; 
}
    
.certificateInfo {
    background-color: #439e9e;
    max-height: 0; 
    overflow: hidden; 
    transition: max-height 0.5s ease-out; 
    position: absolute; 
    top: 100%; 
    left: 0;
    right: 0;
}

.showInfo {
    max-height: 200px; 
    padding: 10px;
    border-radius: 18px;
}

.certificateTitle {
    cursor: pointer;
    padding: 16px;
    border-radius: 18px;
}