#box {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;

}

footer {
    margin-top: auto;
    color: white;
    padding: 10px;
    position: relative;
    width: 100%;
    justify-content: center;
}

footer p {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
}