header {
    padding: 10px 0;
    position: relative;
}

nav, footer {
    font-family: "Whisper", cursive;
    font-weight: 500;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    z-index: 1000;
}

.nav-buttons a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    font-size: 2em;
}

.nav-buttons {
    display: flex;
    gap: 2em;
}

nav a:hover{
    color: #c5bdbd  ; 
}


.flags span {
    margin-left: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
}